    <link rel="stylesheet" type="text/css" href="css/style.css">

    <link rel="stylesheet" type="text/css" href="css/angular-slider.min.css">

			<nav class="navbar navbar-inverse" role="navigation">
				<div class="container-fluid">
					<div class = "row">
					<!-- Brand and toggle get grouped for better mobile display -->
						<div class="navbar-header">
							<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
								<span class="sr-only">Открыть навигацию</span>
								<span class="icon-bar"></span>
								<span class="icon-bar"></span>
								<span class="icon-bar"></span>
							 </button>
							<a class="navbar-brand" href="list.html"><img src = "images/logo.png" alt = "image"></a>
						</div>

					<!-- Collect the nav links, forms, and other content for toggling -->
					<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
						 <ul class="nav navbar-nav">
                             <li ng-repeat="item in content.topPanelButtons">
                                 <navbutton item="item"></navbutton>
                             </li>
						 </ul>

		 
					</div><!-- /.navbar-collapse -->
					</div>
				</div><!-- /.container-fluid -->
			</nav>
			
			<div id = "content">
			<div class = "row" ng-bind-html="content.content"></div>
			</div>
			
			<nav class="navbar navbar-inverse" role="navigation">
				<div class="container-fluid">
					<div class = "row">
                        <div class="navbar-header">
                            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-2">
                                <span class="sr-only">Открыть навигацию</span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                            </button>
                        </div>
                        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-2">
                            <ul class="nav navbar-nav">
                                <li id="bottom-panel">
                                    <ul><a href="{{content.contentsLink}}" id="contents-button{{bottomPanel.contents}}" ng-class="bottomPanel.contents"></a></ul>
                                    <ul><a href="{{content.pagesUrl[0]}}" id="first-page-button{{bottomPanel.firstPage}}" ng-class="bottomPanel.firstPage"/></ul>
                                    <ul><a href="{{content.prevPageUrl}}" id="prev-page-button{{bottomPanel.prevPage}}" ng-class="bottomPanel.prevPage"/></ul>
                                    <ul id="page-slider">
                                        <slider floor="1" ceiling="3" step="1" precision="0" translate="pageFormatting" ng-model="page" end="sliderRedirect()"></slider>
                                    </ul>
                                    <ul><a href="{{content.nextPageUrl}}" id="next-page-button{{bottomPanel.nextPage}}" ng-class="bottomPanel.nextPage"/></ul>
                                    <ul><a href="{{content.pagesUrl[content.pages-1]}}" id="last-page-button{{bottomPanel.lastPage}}" ng-class="bottomPanel.lastPage"/></ul>
                                    <ul><a href="#" onclick="history.back(); return false;" id="undo-button{{bottomPanel.undo}}" ng-class="bottomPanel.undo"/></ul>
                                    <ul><a href="#" id="bookmark-button" ng-click="onBkmrkClick()"></a></ul>

                                </li>
                            </ul>
                        </div>
                    </div>
				</div><!-- /.container-fluid -->
			</nav>
