<!DOCTYPE html>
<html ng-app="listModule" lang="ru">
<head>

	<meta charset="utf-8">
	 <meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>Multimedia-Математика</title>
	<link href="css/bootstrap.css" rel="stylesheet">
	<link rel="stylesheet" type="text/css" href="css/styleList.css">

    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
        <script src="js/bootstrap.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="js/angular.min.js"></script>
    <script src="js/angular-route.min.js"></script>
    <script src="js/recursionHelper.js"></script>
    <script src="js/list.js"></script>

	<style type="text/css">
 html {
  height:100%;
}
 body {
  margin:0;
  padding:0;
  height:auto !important;
  height:100%;
  min-height:100%;
}
</style>
		
</head>
<body>
	
	<div class = "container" ng-controller="listCtrl">
		
			<nav class="navbar navbar-default" role="navigation">
				<div class="container-fluid">
					<div class = "row">
					<!-- Brand and toggle get grouped for better mobile display -->
						<div class="navbar-header">
							<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
								<span class="sr-only">Открыть навигацию</span>
								<span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
							 </button>
							 <a class="navbar-brand" href="#"><img src = "images/logo.png" alt = "image"></a>
						</div>

					<!-- Collect the nav links, forms, and other content for toggling -->
					<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
						 <ul class="nav navbar-nav">
							<li ng-repeat="item in contents"><a href="#" ng-click="volClick(item)"><img src = "{{item.icon}}" alt = "image"></a></li>
						 </ul>
	 
					</div><!-- /.navbar-collapse -->
					</div>
				</div><!-- /.container-fluid -->
			</nav>
			
			<div id = "contentList">
				<div class = "row">
                    <div ng-repeat="item in contents | filter:vol:volFilter">
                        <tree family="item.contents"></tree>
                    </div>
				</div>
			</div>	
	 </div>

</body>
</html>