##
# @package		Joomla
# @copyright	Copyright (C) 2005 - 2012 Open Source Matters. All rights reserved.
# @license		GNU General Public License version 2 or later; see LICENSE.txt
##

##
# READ THIS COMPLETELY IF YOU CHOOSE TO USE THIS FILE!
#
# The line just below this section: 'Options +FollowSymLinks' may cause problems
# with some server configurations.  It is required for use of mod_rewrite, but may already
# be set by your server administrator in a way that dissallows changing it in
# your .htaccess file.  If using it causes your server to error out, comment it out (add # to
# beginning of line), reload your site in your browser and test your sef url's.  If they work,
# it has been set by your server administrator and you do not need it set here.
##

## Can be commented out if causes errors, see notes above.
Options +FollowSymLinks

## Mod_rewrite in use.
AddDefaultCharset UTF-8
RewriteEngine On

## Begin - Rewrite rules to block out some common exploits.
# If you experience problems on your site block out the operations listed below
# This attempts to block the most common type of exploit `attempts` to Joomla!
#
# Block out any script trying to base64_encode data within the URL.


## End - Rewrite rules to block out some common exploits.

## Begin - Custom redirects
#
# If you need to redirect some pages, or set a canonical non-www to
# www redirect (or vice versa), place that code here. Ensure those
# redirects use the correct RewriteRule syntax and the [R=301,L] flags.
#
## End - Custom redirects

##
# Uncomment following line if your webserver's URL
# is not directly related to physical file paths.
# Update Your Joomla! Directory (just / for root).
##

RewriteBase /
#RewriteCond %{REQUEST_URI} ^/content(s)*(.*)(/css/)(.*)$ [OR]
#RewriteCond %{REQUEST_URI} ^/content(s)*(.*)(/fonts/)(.*)$ [OR]
#RewriteCond %{REQUEST_URI} ^/content(s)*(.*)(/images/)(.*)$ [OR]
#RewriteCond %{REQUEST_URI} ^/content(s)*(.*)(/js/)(.*)$
#RewriteRule ^(.*)$ frontend/%3%4 [L]

#RewriteCond %{REQUEST_URI} ^/(css/)(.*)$ [OR]
#RewriteCond %{REQUEST_URI} ^/(fonts/)(.*)$ [OR]
#RewriteCond %{REQUEST_URI} ^/(images/)(.*)$ [OR]
#RewriteCond %{REQUEST_URI} ^/(js/)(.*)$
#RewriteRule ^(.*)$ frontend/%1%2 [L]

RewriteCond %{REQUEST_URI} ^(/)*$
RewriteRule ^(.*)$ contents/vol1 [R]

RewriteCond %{REQUEST_URI} ^/contents/(.*)$ [OR]
RewriteCond %{REQUEST_URI} ^/content/(.*)$
RewriteRule ^.*$ /frontend/index.html
