@import "bootstrap.css";

.navbar,.active a{
	background-image: url(../images/headerBg1.png);
	background-repeat: repeat-x;
}
.navbar-header{
	font: 18px bold Arial, sans-serif;
	color: #ffffff;
}
.navbar-brand{
	padding-left: 50px;
}
/* Footer */
 #footer { 
 height: 57px; /* задаю высоту блока = 57px */ 
 background-image: url(../images/headerBg1.png);
 background-repeat: repeat-x;
  }


#content{
	background-image: url(../images/fon.jpg);
	padding-top: 20px;
	border: 2px solid #58677C;
	margin: 0px;
	padding: 0px;
}
.navbar{
	margin-bottom: 0px;
}
#content p{
	font: 21px solid Arial, Helvetica, sans-serif;
	text-align:left;
	line-height: 30px;
	padding: 20px 50px 50px 50px;
}
.colortext{
	color:#0F8516;
	text-decoration:underline;
}
